.cats-grid {
  display: grid;
  grid-template-columns: repeat(5, $cat-card-size);
  column-gap: 48px;
  row-gap: 46px;
  justify-content: center;
}

@media (max-width: 1220px) {
  .cats-grid {
    grid-template-columns: repeat(4, $cat-card-size);
  }
}

@media (max-width: 980px) {
  .cats-grid {
    grid-template-columns: repeat(3, $cat-card-size);
  }
}

@media (max-width: 740px) {
  .cats-grid {
    grid-template-columns: repeat(2, $cat-card-size);
  }
}

@media (max-width: 500px) {
  .cats-grid {
    grid-template-columns: $cat-card-size;
  }
}